

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>My Deshboard</title>
    <style>
            
        

    </style> 
</head>
<body>
    {% include 'top_bar.html' %}

    <div class="main">
        <h1>My Deshboard</h1>
        <div class="last_trade_dates">
           
        </div> 
               
            
        
        <div class="equity_curve_chart">
            <h1> Removed due to personal data. Please use other pages</h1>
            
        </div>  
    </div>
    <script>
    
// -----------------------------


    </script>
</body>
</html>