<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Market Data</title>
    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='util_ex_st.css') }}">
        
    
    
    <style>
          /* General styles for the search box */
        
    </style>
</head>

<body>
    {% include 'top_bar.html' %}
	<div class="contents">
        <h1>Exchange Utilities</h1>
        <div class="box flex-box">
            <div class="update_business_days">
                {% if last_business_date %}
                    <p>Last business Date- {{ last_business_date }}</p>
                {% endif %}
                
                <form method="POST" action="/utility_exch">
                    <textarea id="date_input" name="dates" rows="4" cols="40" placeholder="Enter New Dates (DD-MM-YYYY)..."></textarea>
                    <button type="submit" name="update_dates">Update Dates</button>
                </form>
            </div>
            <div class="download_box">
                <h5>Select Dates for Data Download </h5>
                
                <form method="POST" action="/utility_exch">
                    <!-- <div>
                        <button type="submit" name="today">Get Today's Data</button>
                    </div> -->
                    <div>
                        <label for="start_date">Start Date:</label>
                        <input type="date" id="start_date" name="start_date" required>
                        
                    </div>
                    <div>
                        <label for="end_date">End Date:</label>
                        <input type="date" id="end_date" name="end_date" required>
                    </div>
                    <div>
                        <button type="submit" name="range">Submit Date Range</button>
                    </div>
                </form>
                
            </div>
            
            <div class="update_database">
                <h5>Select Dates for Database Update</h5>
                <form method="POST" action="/utility_exch"> <!-- Change the action URL as needed -->
                    <div>
                        <label for="update_start_date">Start Date:</label>
                        <input type="date" id="update_start_date" name="update_start_date" required>
                    </div>
                    <div>
                        <label for="update_end_date">End Date:</label>
                        <input type="date" id="update_end_date" name="update_end_date" required>
                    </div>
                    <div>
                        <button type="submit" name="update_range">Submit Database Update</button>
                    </div>
                </form>
            </div>
        
        </div>
       
           
       
        <div class="search-box">
        
        </div>
    <script>
            // Get the current date in YYYY-MM-DD format
            const today = new Date().toISOString().split("T")[0];
            // Set the value of the date input to today's date
            document.getElementById("start_date").value = today;
            // Get the current date in YYYY-MM-DD format
            // const today = new Date().toISOString().split("T")[0];
            // Set the value of the date input to today's date
            document.getElementById("end_date").value = today;
            document.getElementById("update_start_date").value = today;
            document.getElementById("update_end_date").value = today;
            // -----------------------------


            
    </script>
    
    
</body>
</html>
	

